<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JiggAUWatt Homepage</title>
        <meta name="description" content="Access Page for JiggAUWatt">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

<body>
<img src="https://drive.google.com/uc?export=view&id=1SDHXkxHxRpd3oUOD355jmJU1drz_br_Q" width="400" height="100"></img>
        <h1>JiggAUWatt Access Page</h1>
        <form>
            <fieldset>
              <legend>Shelly IP</legend>
              <p>
                <label>IP</label>
                <input type = "text"
                       id = "myText"
                       placeholder = "192.168.1.1" />
              </p>
            </fieldset>
          </form>
    <form method="POST" action="/">
        <h3>Shelly 1 Top Outlet</h3>
        <label class="switch">
        <input type="checkbox" value="1" name="mycheckbox">
             <span class="slider"></span>
        </label>
        <br><br>
        <h3>Shelly 1 Bottom Outlet</h3>
        <label class="switch">
        <input type="checkbox" value="2" name="mycheckbox">
            <span class="slider"></span>
        </label>
        <br><br>
        <h3>Shelly 2 Top Outlet</h3>
        <label class="switch">
        <input type="checkbox" value="3" name="mycheckbox">
            <span class="slider"></span>
        </label>
        <br><br>
        <h3>Shelly 2 Bottom Outlet</h3>
        <label class="switch">
        <input type="checkbox" value="4" name="mycheckbox">
            <span class="slider"></span>
        </label>
        <br><br><br>
        <input type="submit" value="Confirm Changes">
    </form>

</body>
</html>
