<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JiggAUwatt Access</title>
</head>
<body>
<img src="https://drive.google.com/uc?export=view&id=1SDHXkxHxRpd3oUOD355jmJU1drz_br_Q" width="400" height="100"></img>
        <h1>Main Page</h1>
        <h2>JiggAUWatt</h2>

    <form method="POST" action="/">
        Shelly 1 Top Outlet<br>
        <input type="checkbox" value="1" name="mycheckbox">
        <br>
        Shelly 1 Bottom Outlet<br>
        <input type="checkbox" value="2" name="mycheckbox">
        <br>
        Shelly 2 Top Outlet<br>
        <input type="checkbox" value="3" name="mycheckbox">
        <br>
        Shelly 2 Bottom Outlet<br>
        <input type="checkbox" value="4" name="mycheckbox">
        <br>
        <input type="submit" value="Confirm Changes">
    </form>


</body>
</html>